{% extends "poll-base.html" %}
{% block content %}
<div id="intro">
<p>The stories and information found here are artistic works of fiction and falsehood.<br>Only a fool would take anything found here as fact.</p>
</div>
{% if !polls.is_empty() %}
<h3 class="event-hdr">Current Polls</h3>
<table id="entries" class="event-tbl pollCatalogue">
<tbody>
{% for poll in polls %}<tr><td><a href="/polls/{{ poll.id }}">{{ poll.title }}</a></td></tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
