{% macro comment(lines) -%}
{%- for line in lines -%}
{%- if !loop.first -%}<br>{%- endif -%}
{%- if line.green -%}<span class="quote">{%- endif -%}
{%- for token in line.tokens -%}
{%- match token -%}
{%- when Token::Text with (text) -%}{{ text }}
{%- when Token::Quote with (id) -%}<span>&gt;&gt;{{ id }}</span>
{%- when Token::CrossQuote with (target, id) -%}<span>&gt;&gt;&gt;/{{ target }}/{{ id }}</span>
{%- when Token::Spoiler with (text) -%}<span class="spoiler">{{ text }}</span>
{%- when Token::Link with (url) -%}<a href="{{ url }}" rel="nofollow noreferrer noopener">{{ url }}</a>
{%- when Token::WrappedLink with (url, parts) -%}<a href="{{ url }}" rel="nofollow noreferrer noopener">{%- for part in parts -%}{%- match part -%}{%- when WordPart::Text with (text) -%}{{ text }}{%- when WordPart::Break -%}<wbr>{%- endmatch -%}{%- endfor -%}</a>
{%- when Token::WordBreak -%}<wbr>
{%- when Token::OpenMarkup with (tag) -%}
{%- match tag -%}{%- when Tag::Spoiler -%}<s>{%- when Tag::Code -%}<pre class="prettyprint">{%- when Tag::Sjis -%}<span class="sjis">{%- when Tag::Bold -%}<span class="mu-s">{%- when Tag::Italic -%}<span class="mu-i">{%- when Tag::Red -%}<span class="mu-r">{%- when Tag::Green -%}<span class="mu-g">{%- when Tag::Blue -%}<span class="mu-b">{%- endmatch -%}
{%- when Token::CloseMarkup with (tag) -%}
{%- match tag -%}{%- when Tag::Spoiler -%}</s>{%- when Tag::Code -%}</pre>{%- when Tag::Sjis -%}</span>{%- when Tag::Bold -%}</span>{%- when Tag::Italic -%}</span>{%- when Tag::Red -%}</span>{%- when Tag::Green -%}</span>{%- when Tag::Blue -%}</span>{%- endmatch -%}
{%- when Token::OpenQuote -%}<span class="quote">
{%- when Token::CloseQuote -%}</span>
{%- endmatch -%}
{%- endfor -%}
{%- if line.green -%}</span>{%- endif -%}
{%- endfor -%}
{%- endmacro %}
