{% macro comment(lines, board = "", public_origin = "") -%}
{%- for line in lines -%}
{%- if !loop.first -%}<br>{%- endif -%}
{%- if line.green -%}<span class="quote">{%- endif -%}
{%- for token in line.tokens -%}
{%- match token -%}
{%- when Token::Text with (text) -%}{{ text }}
{%- when Token::Quote with (id) -%}{% if board.is_empty() %}<span>&gt;&gt;{{ id }}</span>{% else %}<a class="quotelink" href="/{{ board }}/post/{{ id }}">&gt;&gt;{{ id }}</a>{% endif %}
{%- when Token::CrossQuote with (target, id) -%}{% if board.is_empty() %}<span>&gt;&gt;&gt;/{{ target }}/{{ id }}</span>{% else %}<a class="quotelink" href="{% if target != "j" %}{{ public_origin }}{% endif %}/{{ target }}/post/{{ id }}" rel="noreferrer">&gt;&gt;&gt;/{{ target }}/{{ id }}</a>{% endif %}
{%- when Token::PostQuote with (quote) -%}{% if board.is_empty() %}<span>{% else %}<a class="quotelink" href="{% if quote.board().is_some() && quote.board_label() != "j" %}{{ public_origin }}{% endif %}{{ quote.href(board) }}" rel="noreferrer">{% endif %}{% if quote.board().is_some() %}&gt;&gt;&gt;/{{ quote.board_label() }}/{% else %}&gt;&gt;{% endif %}{{ quote.digits() }}{% if board.is_empty() %}</span>{% else %}</a>{% endif %}
{%- when Token::StaticQuote with (quote, parts) -%}{% if board.is_empty() %}<span>{% else %}<a class="quotelink" href="{% if quote.href().starts_with("/") && !quote.href().starts_with("//") && !quote.href().starts_with("/j/") %}{{ public_origin }}{% endif %}{{ quote.href() }}" rel="noreferrer noopener">{% endif %}{%- for part in parts -%}{%- match part -%}{%- when WordPart::Text with (text) -%}{{ text }}{%- when WordPart::Break -%}<wbr>{%- endmatch -%}{%- endfor -%}{% if board.is_empty() %}</span>{% else %}</a>{% endif %}
{%- when Token::Spoiler with (text) -%}<span class="spoiler">{{ text }}</span>
{%- when Token::Link with (url) -%}<a href="{{ url }}" rel="nofollow noreferrer noopener">{{ url }}</a>
{%- when Token::WrappedLink with (url, parts) -%}<a href="{{ url }}" rel="nofollow noreferrer noopener">{%- for part in parts -%}{%- match part -%}{%- when WordPart::Text with (text) -%}{{ text }}{%- when WordPart::Break -%}<wbr>{%- endmatch -%}{%- endfor -%}</a>
{%- when Token::ServerLink with (link, parts) -%}<a href="{{ link.href() }}" target="_blank" rel="nofollow noreferrer noopener">{%- for part in parts -%}{%- match part -%}{%- when WordPart::Text with (text) -%}{{ text }}{%- when WordPart::Break -%}<wbr>{%- endmatch -%}{%- endfor -%}</a>
{%- when Token::WordBreak -%}<wbr>
{%- when Token::OpenMarkup with (tag) -%}
{%- match tag -%}{%- when Tag::Spoiler -%}<s>{%- when Tag::Code -%}<pre class="prettyprint">{%- when Tag::Sjis -%}<span class="sjis">{%- when Tag::Bold -%}<span class="mu-s">{%- when Tag::Italic -%}<span class="mu-i">{%- when Tag::Red -%}<span class="mu-r">{%- when Tag::Green -%}<span class="mu-g">{%- when Tag::Blue -%}<span class="mu-b">{%- endmatch -%}
{%- when Token::CloseMarkup with (tag) -%}
{%- match tag -%}{%- when Tag::Spoiler -%}</s>{%- when Tag::Code -%}</pre>{%- when Tag::Sjis -%}</span>{%- when Tag::Bold -%}</span>{%- when Tag::Italic -%}</span>{%- when Tag::Red -%}</span>{%- when Tag::Green -%}</span>{%- when Tag::Blue -%}</span>{%- endmatch -%}
{%- when Token::OpenQuote -%}<span class="quote">
{%- when Token::CloseQuote -%}</span>
{%- endmatch -%}
{%- endfor -%}
{%- if line.green -%}</span>{%- endif -%}
{%- endfor -%}
{%- endmacro %}
